

#main{
    background-color: bisque;
    margin: 20px;
   
}

#input-area{
    align-items: center;
    justify-content: center;
    padding-left: 35%;
    padding-top: 20px;
    padding-bottom: 20px;
    

}
.search-btn{
    padding: 10px;
   
}